
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="index_files/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="index_files/css/stylesheet.css">
    <title>Asthma </title>
  </head>
  <body>
<header class="header inside-head" style="background: url(index_files/images/2.jpeg) center top; background-repeat: no-repeat; background-size: cover;">
 <div class="info">
  <div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="location">
        <i class="fa fa-map-marker">&nbsp;</i> Qatar
      </div>
    </div>   
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mail-gency">
      <div class="email">
        <i class="fa fa-envelope"></i>&nbsp;<a href="#"> info@asthmaqatar.org </a>
      </div>
      <div class="emergency">
        <i class="fa fa-phone"></i>&nbsp;<a href="#"> + 800 123 45 67</a>
      </div>
    </div>    
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <ul class="social-menu list-inline">
         <li class="list-inline-item"> <a href="#"> <i class="fa fa-linkedin"></i></a></li>
        <li  class="list-inline-item"> <a href="#"><i class="fa fa-facebook"></i></a> </li>
        <li class="list-inline-item"> <a href="#"><i class="fa fa-twitter"></i></a></li>
        <li class="list-inline-item"> <a href="#"> <i class="fa fa-instagram"></i></a></li>
      </ul>
    </div> 
   </div>
  </div>
 </div>

  <nav class="navbar navbar-expand-lg ">
  <div class="container">
  <a class="navbar-brand" href="#"><img src="index_files/images/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon" ></span> -->
            <i class="fa fa-bars"></i> 
        </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto" >
     <li class="nav-item">
      <a class="nav-link active" href="index.html">Home
       <span class="sr-only">(current)</span></a>
     </li>
     <li class="nav-item">
        <a class="nav-link" href="page.html">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="page.html">Media</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="page.html">Patrons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="page.html">Contact</a>
      </li>
    </ul>
  </div>
</div>
</nav>
</header>
<div class="sub-nav">
  <div class="container">
      <ul class="social-menu list-inline">
         <li class="list-inline-item"> <a href="index.html"> Home</a></li><span>/</span>
         <li class="list-inline-item"> <a href="index.html"> About</a></li>
      </ul>   
</div>
</div>

<main class="index inside">
  <section class="page">
  <div class="container">
   <h3 class="asthma-title"> <a href="#">About</a></h3>
      <div class="row">
      <div class="p-image col-lg-4  col-md-5  col-sm-12 col-xs-12">
       <div class="appjad-image">
        <a href="#"><img src="index_files/images/1.jpg"></a>
       </div>
      </div>
      <div class="p-content  col-lg-8  col-md-7  col-sm-12  col-xs-12">
       The ability to manage money competently is especially valuable quality in the conditions of financial crisis, when the purchasing power of the population is shrinking, inflation is rising, and currency exchange rates are completely unpredictable. Below are the common mistakes related to money affairs along with financial planning advice to help manage your own finances properly.

              The budget is the most basic thing in financial planning. It is therefore especially important to be careful when compiling the budget. To start you have to draw up your own budget for the next month and only after it you may make a yearly budget.

              As the basis takes your monthly income, subtract from it such regular expenses as the cost of housing, transportation, and then select 20-30% on savings or mortgage loan payment.

              The rest can be spent on living: restaurants, entertainment, etc. If you are afraid of spending too much, limit yourself in weekly expenses by having a certain amount of ready cash.

              "When people borrow, they think that they should return it as soon as possible," said Sofia Bera, a certified financial planner and founder of Gen Y Planning company. And at its repayment spend all that earn. But it's not quite rationally ".

              If you don't have money on a rainy day, in case of an emergency (e.g. emergency of car repairs) you have to pay by credit card or get into new debts. Keep on account of at least $1000 in case of unexpected expenses. And gradually increase the "airbag" to an amount equal to your income for up to three-six months.

   </div>
 </div>
</div>
</section>
</main>
<div class="clearfix"></div>
<footer id="footer">
<div class="footer-social">
  <div class="container">
    <div class="row">
     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
       <form class="form-inline">
         <div class="form-group mb-2">
            <input type="text" class="email form-control" id="email" placeholder="Enter your email">
          </div>       
         <button type="submit" class="btn mb-2"><i class="fa fa-envelope"></i></button>
       </form>
     </div>
     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"> 
      <ul class="social-menu list-inline">
         <li class="list-inline-item"> <a href="#"> <i class="fa fa-linkedin"></i></a></li>
        <li  class="list-inline-item"> <a href="#"><i class="fa fa-facebook"></i></a> </li>
        <li class="list-inline-item"> <a href="#"><i class="fa fa-twitter"></i></a></li>
        <li class="list-inline-item"> <a href="#"> <i class="fa fa-instagram"></i></a></li>
      </ul>    
     </div>      
    </div>
  </div>
</div>
<div class="quik-links">
  <div class="container">
   <div class="row">
     <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <a class="logo" href="#"><img src="index_files/images/logo.png"></a>
         <p>Asthma Qatar Network was founded in the year 2013, by a group of qualified and experienced, specialized in Asthma treatments...</p>
       </div>  
     <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <h3 class="asthma-title"><a href="#">Departments </a> </h3>
        <ul>
          <li><a href="#">Laboratory Analysis</a></li>
          <li><a href="#">Pediatric</a></li>
          <li><a href="#">Rehabilitation</a></li>
          <li><a href="#">Gynaecological</a></li>
          <li><a href="#">Ophthalmology</a></li>
          <li><a href="#">Cardiac</a></li>
        </ul>
     </div> 
     <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <h3 class="asthma-title"><a href="#">Head office </a> </h3>
        <ul>
          <li><a href="#">Laboratory Analysis</a></li>
          <li><a href="#">Pediatric</a></li>
          <li><a href="#">Rehabilitation</a></li>
          <li><a href="#">Gynaecological</a></li>
          <li><a href="#">Ophthalmology</a></li>
          <li><a href="#">Cardiac</a></li>
        </ul>      
     </div> 
     <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <h3 class="asthma-title"><a href="#">quick links </a> </h3>
        <ul>
          <li><a href="#">Laboratory Analysis</a></li>
          <li><a href="#">Pediatric</a></li>
          <li><a href="#">Rehabilitation</a></li>
          <li><a href="#">Gynaecological</a></li>
          <li><a href="#">Ophthalmology</a></li>
          <li><a href="#">Cardiac</a></li>
        </ul>    
     </div>                
   </div>
</div>
</div>
<div class="copyright">
  <div class="container">
    <div class="row">
     <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <p>Terms and Conditions | <a href="#">Privacy Policy</a></p>
     </div>
     <div class="rights col-lg-6 col-md-6 col-sm-12 col-xs-12">
      © 2018 ASTHMA . All rights reserved.
     </div>
    </div> 
  </div>    
</div>
</footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="index_files/js/scripts.js"></script>

  </body>
  </html>